<section class="feature_block">
    <h2>
      Why Foodie's?
    </h2>
    
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <img class="icon icon--main" src="icons\clean.svg" alt="">
        </span>
        <h3>Clean Environment</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias voluptas dolorem maxime quam placeat autem eum id ipsa esse facilis.</p>
      </div>
      <img src="images\clean@2x.jpg" alt="">
    </article>

    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <img class="icon icon--main" src="icons\drinks.svg" alt="">
        </span>
        <h3>Top Quality Drinks</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias voluptas dolorem maxime quam placeat autem eum id ipsa esse facilis.</p>
      </div>
      <img src="images\drink@2x.jpg" alt="">
    </article>

    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <img class="icon icon--main" src="icons\dining.svg" alt="">
        </span>
        <h3>Comfortable Dining</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias voluptas dolorem maxime quam placeat autem eum id ipsa esse facilis.</p>
      </div>
      <img src="images\dining@2x.jpg" alt="">
    </article> 

    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <img class="icon icon--main" src="icons\kitchen.svg" alt="">
        </span>
        <h3>Hygienic Kitchen</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias voluptas dolorem maxime quam placeat autem eum id ipsa esse facilis.</p>
      </div>
      <img src="images\kitchen@2x.jpg" alt="">
    </article>
  </section>