<footer class="footer">
    <div class="footer-branding">
      <span>
        <img class="footer-logo" src="icons/logo.svg" alt="">
      </span>
      <div class="media-icon-container">
        <img class="media-icon" src="icons/fb.svg" alt="">
        <img class="media-icon" src="icons/in.svg" alt="">
        <img class="media-icon" src="icons/twit.svg" alt="">
        <img class="media-icon" src="icons/insta.svg" alt="">
      </div>
      <div class="maker">
        <p>© im_rahman1</p>
      </div>
    </div>

    <div class="list-container">
      <div>
        <h3>Support</h3>
        <ul class="list footer-list">
          <li>Contact Us</li>
          <li>FAQ</li>
          <li>Locate a store</li>
          <li>Lorem</li>
        </ul>
      </div>
      <div>
        <h3>Foodie's</h3>
        <ul class="list footer-list">
          <li>About Foodie's</li>
          <li>Foodie's Design</li>
          <li>Careers</li>
          <li>Newsroom</li>
          <li>Lorem</li>
        </ul>
      </div>
    </div>

    <div class="email">
      <div class="email__header">
        <span>
          <img class="email__header__icon" src="icons/email.svg" alt="">
        </span>
        <div class="email__header__text">
          <h4>Stay up to date from Foodie's</h4>
          <p>•Your privacy is important to us.</p>
        </div>
      </div>
  
      <div class="email__content">
        <input id="email" type="email" placeholder="Email address" name="mail">
        <button class="btn btn--light">Sign Up</button>
      </div>
    </div>
  </footer>