<nav class="nav collapsible">
  <a href="/">
    <img class="nav__brand" src="images/logo.svg" alt="" />
  </a>
  <a class="nav__toggler">
    <img class="icon icon--medium" src="images/menu.svg" alt="" />
  </a>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Home</a></li>
    <li class="nav__item"><a href="#">Products</a></li>
    <li class="nav__item"><a href="#">About Us</a></li>
    <li class="nav__item"><a href="#">Contact</a></li>
    <li class="nav__item btn--item">
    <button class="btn btn--light">Login</button>
    </li>
  </ul>
</nav>

