<section class="showcase">
    <header class="showcase__header">
      <h2>What makes us Unique</h2>
    </header>

    <div class="showcase__content grid grid--1x2">
      <div class="showcase__img-container">
        <img class="showcase__img" src="images/staff@2x.jpg" alt="">
      </div>

      <div class="showcase__points">
        <div class="media">
          <div class="media__img">
            <span class="icon-container-small">
              <img class="icon icon--main icon-small" src="icons\staff.svg" alt="">
            </span>
          </div>
          <div class="media__text">
            <h3>User-Friendly Staff</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis, numquam. Maiores fugit minus unde sint?</p>
          </div>
        </div>

        <div class="media">
          <div class="media__img">
            <span class="icon-container-small">
              <img class="icon icon--main icon-small" src="icons\chef.svg" alt="">
            </span>
          </div>
          <div class="media__text">
            <h3>Experienced Cheffs</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis, numquam. Maiores fugit minus unde sint?</p>
          </div>
        </div>

        <div class="media">
          <div class="media__img">
            <span class="icon-container-small">
              <img class="icon icon--main icon-small" src="icons\service.svg" alt="">
            </span>
          </div>
          <div class="media__text">
            <h3>Fast Service</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis, numquam. Maiores fugit minus unde sint?</p>
          </div>
        </div>

        <div class="media">
          <div class="media__img">
            <span class="icon-container-small">
              <img class="icon icon--main icon-small" src="icons\quality.svg" alt="">
            </span>
          </div>
          <div class="media__text">
            <h3>Best Quality Ingredients</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis, numquam. Maiores fugit minus unde sint?</p>
          </div>
        </div>
      </div>
    </div>
  </section>