<section class="slideShow-container">

  <div class="slideShow__header">
    <h2>What our Customers are Saying!</h2>
  </div>

  <div class="slideShow__content">
    <a class="left" onclick="plusSlides(-1)"><img src="icons/left.svg" alt=""></a>

    <div class="slide">
      <div class="slide__image-container">
        <img class="slide__image" src="images/customer1.jpg" alt="">
      </div>
      <div class="slide__text">
        <span class="quote-icon">
          <img class="icon icon--main" src="icons\quote.svg" alt="">
        </span>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Tempore exercitationem nemo alias animi sunt tenetur laboriosam nam placeat ab! Eum.
        </p>
        <div class="customer">
          <img class="icon customer__icon" src="icons\line.svg" alt="">
          <div class="customer__text">
            <p class="customer__name">Summaiya</p>
            <p class="customer__intro">CEO at XYZ Company</p>
          </div>
        </div>
      </div>
    </div>

    <div class="slide">
      <div class="slide__image-container">
        <img class="slide__image" src="images/customer2.jpg" alt="">
      </div>
      <div class="slide__text">
        <span class="quote-icon">
          <img class="icon icon--main" src="icons\quote.svg" alt="">
        </span>
        <p>Lorem dolor sit, amet consectetur adipisicing elit.
          Tempore exercitationem nemo alias animi sunt tenetur laboriosam nam placeat ab! Eum.
        </p>
        <div class="customer">
          <img class="icon customer__icon" src="icons\line.svg" alt="">
          <div class="customer__text">
            <p class="customer__name">Fatima</p>
            <p class="customer__intro">CEO at XYZ Company</p>
          </div>
        </div>
      </div>
    </div>

    
    <a class="right" onclick="plusSlides(-1)"><img src="icons/right.svg" alt=""></a>
  </div>


  
</section>